@charset "UTF-8";

body {
    background: #f7f8fa;
}

.header {
    position: relative;
    z-index: 2;
    background: #fff;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(30, 35, 42, .06);

    &.is-fixed {
        position: fixed;
        z-index: 999;
        box-sizing: border-box;
        & + .container {
            border-top: ($nav-height) solid transparent;
        }
    }
    .nav-header {
        display: flex;
        align-items: center;
        max-width: $body-width;
        height: $nav-height;
        margin: 0 auto;
        position: relative;
        padding: 0 16px;
        transition: transform .3s, -webkit-transform .3s;
        justify-content: space-between;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-nav {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            display: inline-block;
            a {
                height: $nav-height;
                line-height: $nav-height;
                padding: 0 10px;
                text-transform: uppercase;
            }
            &:active, &.active {
                color: #333;
            }
            &:hover {
                color: $main-color;
            }
            &.active {
                background-color: $active-color;
            }
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
        color: #999;
        height: 100%;
        align-items: center;

    }

}

.logo {
    color: $main-color;
    text-transform: uppercase;
}

.container {
    max-width: $body-width;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding: 0 16px;
    margin: 10px auto;
    .main {
        margin-right: 10px;
    }
    .article-card {
        margin-bottom: 10px;
        background: white;
        border: 1px solid #e7eaf1;
        & > div {
            padding: 10px;
        }
        .card-header {
            border-bottom: 1px solid $border-color;
            h3 {
                margin: 10px 0;
            }
            .author {
                color: #999;
            }
        }
        .card-body {
            line-height: 1.67;
            a {
                color: lighten(#333333, 10%);
                &:hover {
                    color: #333333;
                }
            }
            img {
                max-width: 100%;
            }
        }
    }

    .aside {
        min-width: 300px;
        width: 300px;
        .aside-card {
            background-color: white;
            border: 1px solid $border-color;
            margin-bottom: 10px;
            a {
                color: #999;
                font-size: 14px;
            }
            .list-unstyled .item {
                padding: 0 10px;
                &:hover {
                    background-color: #f7f8fa;
                }
            }
            .aside-header {
                padding: 0 10px;
                padding-top: 10px;
                border-bottom: 1px solid #f7f8fa;
                h3 {
                    font-style: normal;
                    margin: 10px 0;
                    text-transform: uppercase;
                }
            }
            .aside-body {
                .tags-list {
                    margin-bottom: 7px;
                }
                .tags {
                    padding: 10px;
                }
                .tag {
                    color: white;
                    background-color: #2196f3;
                    padding: 2px 4px;
                    border-radius: 2px;
                }
            }
        }
        .category {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            span.title {
                flex: 1;
            }
            i.num {
                font-style: normal;
                background-color: #f7f8fa;
                font-size: 12px;
                padding: 4px 6px;
                border-radius: 2px;
            }
        }
    }
}

ul.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
    li {

    }
}

footer {
    padding-top: 50px;
    color: white;
    background-color: #333;
    .foot-group {
        max-width: $body-width;
        margin: 0 auto;
    }
    .social {
        li {
            margin: 0 5px;
        }
    }
    .copyright {
        margin: 0 auto;
        color: #a9a9a9;
        text-align: center;
        background-color: #282828;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
    }
    .author-name {
        text-transform: uppercase;
        margin: 0;
    }
    .author-desc {
        color: #a9a9a9;
    }
    .email {
        display: block;
        color: #ddd;
    }
    .about, .description {
        flex: 1;
    }
    .list {
        margin: 0 10px;
        .desc-h {
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.06);
            padding-bottom: 10px;
            font-size: 20px;
        }
        .desc-b {
            .list-unstyled li {
                line-height: 1.5;
                margin-bottom: 10px;
                a {
                    text-transform: lowercase;
                    color: #dddddd;
                    font-size: 14px;
                    &:hover {
                        color: #ffffff;
                    }
                }
                small {
                    display: block;
                    color: #999;
                }
            }
        }
    }
    .to-top {
        position: absolute;
        right: 10px;
        top: -20px;
        background-color: $main-color;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: darken($main-color, 10%);
        }
    }
}

.pagination {
    padding-left: 0;
    margin: 18px 0;
    li {
        margin: 0 1px;
        display: inline-block;
        vertical-align: top;
        &.active {
            a, span {
                z-index: 3;
                color: #fff;
                background-color: $main-color;
                border-color: transparent;
                cursor: default;

            }
        }
    }
    & > li > a, & > li > span {
        padding: 0;
        width: 32px;
        height: 32px;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        z-index: 1;
        position: relative;
        cursor: pointer;
        background-clip: padding-box;
        transition: all;
        transition-duration: .3s;
        float: left;
        text-decoration: none;
        color: #7E7E7E;
        background-color: #E2E2E2;
        border: 1px solid transparent;
        margin-left: -1px;
    }
    a, span {
        border-radius: 50%;
    }
    a {
        &:focus, &:hover {
            z-index: 3;
            color: #fff;
            background-color: $main-color;
            border-color: transparent;
            cursor: pointer;
        }
    }

}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
    }
}

