@charset "UTF-8";

@media (max-width: $phone-size) {
    body{
        font-size: $root-font-size;
    }
    .aside {
        display: none!important;
    }
    .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
        .main {
            margin-right: 0;
            width: 100%;
        }
        .aside {
            min-width: 0;
            width: 0;
        }
    }
    .header {
        .nav-header {
            width: 100%;
            justify-content: space-between;
            box-sizing: border-box;
        }
        .navbar-toggle {
            display: inline-block;
            outline: none;
            background: #ffffff;
            border: none;
            padding: rem(5px);
            width: rem(32px);
            border-radius: 2px;
            color: #777;
            font-size: rem(16px);
        }
        .nav {
            border: 1px solid rgba(30, 35, 42, .06);
            box-shadow: -1px 5px 10px 0px rgba(0, 34, 77, 0.22);
            position: fixed;
            top: 50px;
            background: white;
            height: auto;
            right: 16px;
            display: none;
            &.active {
                display: block;
            }
            .navbar-nav {
                li {
                    display: block;
                    min-width: rem(100px);
                }
                a {
                    display: inline-block;
                    width: 100%;
                    line-height: rem(40px);
                    height: auto;
                    box-sizing: border-box;
                }
            }

        }

    }

    footer {
        padding-top: rem(30px);
        .description, .youlike {
            display: none;
        }
        .foot-group {
            max-width: 100%;
        }
    }
    .container .article-card .card-header h3 {
        font-size: rem(21px);
    }
    .container .article-card .card-header .author {
        font-size: rem(14px);
    }
    .pagination {
        text-align: center;
    }
}