@charset "UTF-8";

$root-font-size: 15px;
$nav-height: 50px;
$nav-width: 1000px;
$body-width: $nav-width;
$active-color: rgba(50, 75, 95, 0.06);
$main-color: #2196f3;
$border-color: rgba(231, 234, 241, 0.68);

$phone-size: 768px;

@function rem($px) {
    @return $px / $root-font-size * 1rem;
}