@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #262626;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: lighten($main-color, 10%);
}

code, kbd, pre, samp {
    font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;
}

pre, textarea {
    overflow: auto;
}

.btn, html {
    -webkit-tap-highlight-color: transparent;
}

input, button {
    outline: none;
}

article {
    p, a, span, div {
        word-wrap: break-word;
    }
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
