@charset "UTF-8";

//字体 COLOR
$main-color: #262626;
$sub-color:#999;

//COLOR
$body-background-color: #f7f8fa; //背景 color
$main-background-color: #fff; //主要背景 color
$box-border-color:#e7eaf1;//外框的color

$border-color: rgba(231, 234, 241, 0.68); //正常边框color