BEIAN=XXXXXXXXXX

AUTHOR_NAME=your name
AUTHOR_DESC=your desc
AUTHOR_EMAIL=email
AUTHOR_GITHUB="https://github.com/KingzCheung"
AUTHOR_GOOGLE="https://plus.google.com/u/0/118338882647999019418"
AUTHOR_TWITTER="https://twitter.com/CheungKingz"
AUTHOR_INTRODUCTION=introduction